Adapted from:
John Gosset, April Wright (eds): "Data Carpentry Python Ecology lesson."
Version 2017.04.0, April 2017,
http://www.datacarpentry.org/python-ecology-lesson/,
FIXME: Add Zenodo DOI.

# Operators

In [22]:
2+3

5

In [23]:
2 ** 16  # Power

65536

In [35]:
13 % 5  # Modulo

3

In [38]:
3 > 4

False

In [26]:
True or False

True

In [16]:
print('Hello world')

Hello world

# Variables

In [18]:
age = 42
first_name = 'Lina'

In [19]:
print(first_name, 'is', age, 'years old')

Lina is 42 years old

In [27]:
age = 10

In [30]:
f'{first_name} is {age} years old'

'Lina is 10 years old'

# Data structures

## Lists
Lists are a common data structure to hold an ordered sequence of elements. Each element can be accessed by an index. Note that Python indexes start with 0 instead of 1

In [40]:
numbers = [1, 2, 3]
numbers[0]

1

Iterate over a list:

In [41]:
for number in numbers:
    print(number)

1
2
3

Add values to the list:

In [42]:
numbers.append(4)

In [43]:
numbers

[1, 2, 3, 4]

In [47]:
numbers_repeated = numbers*2

In [48]:
numbers_repeated

[1, 2, 3, 4, 1, 2, 3, 4]

In [49]:
numbers_doubled = [number*2 for number in numbers]

In [50]:
numbers_doubled

[2, 4, 6, 8]

## Tuples

On your own: find out the difference between tuples and lists

## Dictionaires
A dictionary is a container that holds pairs of objects - keys and values.

In [51]:
translation = {'A': 'T', 'C': 'G', 'T': 'A', 'G':'C'}
translation['A']

'T'

In [53]:
seq = 'AATTGCAT'
seq2 = seq[::-1]
for letter in seq:
    print(translation[letter])

T
T
A
A
C
G
T
A

In [55]:
seq2

'TACGTTAA'

# Functions

In [4]:
import pandas as pd
import numpy as np

Ahmed is 42 years old

In [4]:
print(f"{first_name} is {age} years old")

Ahmed is 42 years old

In [5]:
age = age + 3
print('Age in three years:', age)

Age in three years: 45

In [1]:
data_dir = "./data/"

In [2]:
%ls ./data

LeeKA_relAb_full.csv  samples-metadata.tsv  t6ss.tsv

In [10]:
df = pd.read_csv("./data/2022-04-13.LeeKA_2022.colData.csv", index_col=0)

In [14]:
df

,study_name,subject_id,body_site,antibiotics_current_use,study_condition,disease,age_category,gender,country,non_westernized,...,BMI,location,treatment,RECIST,ORR,subcohort,previous_therapy,performance_status,toxicity_above_zero,PFS12
BCN-01_1,LeeKA_2022,BCN-01_1,stool,no,melanoma,melanoma,adult,male,ESP,no,...,28.713211,Barcelona,no,PR,yes,Barcelona,no,0.0,yes,yes
BCN-02_1,LeeKA_2022,BCN-02_1,stool,no,melanoma,melanoma,adult,female,ESP,no,...,27.354571,Barcelona,no,PD,no,Barcelona,no,NaN,yes,no
BCN-03_1,LeeKA_2022,BCN-03_1,stool,no,melanoma,melanoma,senior,female,ESP,no,...,22.060354,Barcelona,no,CR,yes,Barcelona,no,0.0,yes,yes
BCN-04_1,LeeKA_2022,BCN-04_1,stool,no,melanoma,melanoma,adult,male,ESP,no,...,30.350330,Barcelona,no,PD,no,Barcelona,no,0.0,yes,no
BCN-05_1,LeeKA_2022,BCN-05_1,stool,no,melanoma,melanoma,senior,male,ESP,no,...,36.079477,Barcelona,PPI,CR,yes,Barcelona,no,0.0,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PRIMM0597,LeeKA_2022,PRIMM0597,stool,NaN,melanoma,melanoma,senior,male,GBR,no,...,27.764650,NaN,steroids,SD,yes,PRIMM-UK,no,1.0,yes,no
PRIMM0601,LeeKA_2022,PRIMM0601,stool,no,melanoma,melanoma,senior,male,GBR,no,...,29.115422,NaN,no,PD,no,PRIMM-UK,yes,2.0,no,no
PRIMM0602,LeeKA_2022,PRIMM0602,stool,yes,melanoma,melanoma,adult,male,GBR,no,...,24.891179,NaN,steroids,PD,no,PRIMM-UK,no,1.0,yes,no
PRIMM0610,LeeKA_2022,PRIMM0610,stool,no,melanoma,melanoma,adult,male,GBR,no,...,34.686277,NaN,no,CR,yes,PRIMM-UK,yes,1.0,yes,yes
PRIMM0611,LeeKA_2022,PRIMM0611,stool,no,melanoma,melanoma;treatment_colitis,adult,female,GBR,no,...,27.161407,NaN,steroids,SD,yes,PRIMM-UK,no,0.0,yes,no