In [1]:
import pandas as pd

## Libraries

### Most of the power of a programming language is in its libraries.
- A library is a collection of files (called modules) that contains functions for use by other programs.
    - May also contain data values (e.g., numerical constants) and other things.
    - Library’s contents are supposed to be related, but there’s no way to enforce that.
- The Python standard library is an extensive suite of modules that comes with Python itself.
- Many additional libraries are available from PyPI (the Python Package Index).

**A program must import a library module before using it.**

- Use `import` to load a library module into a program’s memory.
- Then refer to things from the module as `module_name.thing_name`.
- Python uses `.` to mean “part of”.
- Using `numpy`, one of the most important libraries for scientific computing
- To use a function or a constant from a module, you have to always refer to that modules name

In [9]:
import numpy

In [10]:
# Display value of pi
numpy.pi

3.141592653589793

In [11]:
# Calculate log2 of a number
# log2 is a function from numpy library. It takes one argument.
numpy.log2(8)

3.0

In [12]:
# Learn more about the function and it's arguments
?numpy.log2

In [13]:
# argument doesn't have to be a number, can be a list
numpy.log2([8, 16, 32])

array([3., 4., 5.])

### Import specific itmes from a library

- Use `from ... import ...` to load only specific functions/itmes from a library
- Then you can refer to them directly in your code

In [16]:
from numpy import floor
# floor function returns floor of a number (largest integer i, such that i <= x)
floor([4.5, 3.2, 1.9])

array([4., 3., 1.])

### Create an alias for a library

- Use `import ... as ...` to give library an alias, then refer to items using that shortened name
- Some popular libraries have well established aliases that are in common use

In [15]:
import numpy as np
# ceiling function returns ceiling of a number (smallest integer i, such that i >= x)
np.ceil([4.5, 3.2, 1.9])

array([5., 4., 2.])

## Reading tabular data into DataFrames

### Use pandas library to do statistics on tabular data
- [pandas](https://pandas.pydata.org/) is a widely used Python library for data science
- Can be used to read a lot of differnt file formats - `csv`, `excel`, `json`, `parquet`, etc.

In [17]:
# import and give an alias
import pandas as pd

In [18]:
%ls data

2022-04-13.LeeKA_2022.colData.csv
2022-04-13.LeeKA_2022.relative_abundance.csv
LeeKA_relAb_full.csv
samples-metadata.tsv
t6ss.tsv

In [21]:
# Read in a csv file
data = pd.read_csv('data/2022-04-13.LeeKA_2022.colData.csv', index_col=0)

In [22]:
# Look at the top 5 rows of the data
# The columns in a dataframe are the observed variables, and the rows are the observations.
data.head()

,study_name,subject_id,body_site,antibiotics_current_use,study_condition,disease,age_category,gender,country,non_westernized,...,BMI,location,treatment,RECIST,ORR,subcohort,previous_therapy,performance_status,toxicity_above_zero,PFS12
BCN-01_1,LeeKA_2022,BCN-01_1,stool,no,melanoma,melanoma,adult,male,ESP,no,...,28.713211,Barcelona,no,PR,yes,Barcelona,no,0.0,yes,yes
BCN-02_1,LeeKA_2022,BCN-02_1,stool,no,melanoma,melanoma,adult,female,ESP,no,...,27.354571,Barcelona,no,PD,no,Barcelona,no,NaN,yes,no
BCN-03_1,LeeKA_2022,BCN-03_1,stool,no,melanoma,melanoma,senior,female,ESP,no,...,22.060354,Barcelona,no,CR,yes,Barcelona,no,0.0,yes,yes
BCN-04_1,LeeKA_2022,BCN-04_1,stool,no,melanoma,melanoma,adult,male,ESP,no,...,30.350330,Barcelona,no,PD,no,Barcelona,no,0.0,yes,no
BCN-05_1,LeeKA_2022,BCN-05_1,stool,no,melanoma,melanoma,senior,male,ESP,no,...,36.079477,Barcelona,PPI,CR,yes,Barcelona,no,0.0,no,yes

In [ ]:
# View the last five rows

In [55]:
# Check number of rows and columns
data.shape

(165, 29)

In [24]:
# Find out mroe about a dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, BCN-01_1 to PRIMM0611
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   study_name               165 non-null    object
 1   subject_id               165 non-null    object
 2   body_site                165 non-null    object
 3   antibiotics_current_use  162 non-null    object
 4   study_condition          165 non-null    object
 5   disease                  165 non-null    object
 6   age_category             165 non-null    object
 7   gender                   165 non-null    object
 8   country                  165 non-null    object
 9   non_westernized          165 non-null    object
 10  sequencing_platform      165 non-null    object
 11  DNA_extraction_kit       165 non-null    object
 12  PMID                     165 non-null    int64
 13  number_reads             165 non-null    int64
 14  number_bases             165 non-null    int64
 15  minimum_read_length      165 non-null    int64
 16  median_read_length       165 non-null    int64
 17  NCBI_accession           164 non-null    object
 18  curator                  165 non-null    object
 19  BMI                      155 non-null    float64
 20  location                 55 non-null     object
 21  treatment                165 non-null    object
 22  RECIST                   162 non-null    object
 23  ORR                      165 non-null    object
 24  subcohort                165 non-null    object
 25  previous_therapy         165 non-null    object
 26  performance_status       159 non-null    float64
 27  toxicity_above_zero      165 non-null    object
 28  PFS12                    163 non-null    object
dtypes: float64(2), int64(5), object(22)
memory usage: 38.7+ KB

In [57]:
# Are all the indices (i.e. row names) unique
data.index

Index(['BCN-01_1', 'BCN-02_1', 'BCN-03_1', 'BCN-04_1', 'BCN-05_1', 'BCN-06_1',
       'BCN-07_1', 'BCN-08_1', 'BCN-09_1', 'BCN-10_1',
       ...
       'PRIMM0576', 'PRIMM0578', 'PRIMM0589', 'PRIMM0590', 'PRIMM0594',
       'PRIMM0597', 'PRIMM0601', 'PRIMM0602', 'PRIMM0610', 'PRIMM0611'],
      dtype='object', length=165)

In [60]:
data.index.unique()

Index(['BCN-01_1', 'BCN-02_1', 'BCN-03_1', 'BCN-04_1', 'BCN-05_1', 'BCN-06_1',
       'BCN-07_1', 'BCN-08_1', 'BCN-09_1', 'BCN-10_1',
       ...
       'PRIMM0576', 'PRIMM0578', 'PRIMM0589', 'PRIMM0590', 'PRIMM0594',
       'PRIMM0597', 'PRIMM0601', 'PRIMM0602', 'PRIMM0610', 'PRIMM0611'],
      dtype='object', length=165)

In [61]:
len(data.index.unique()) == len(data.index)

True

In [62]:
data.index.nunique() == len(data.index)

True

In [26]:
# Use DataFrame.columns to access or change column names
data.columns

Index(['study_name', 'subject_id', 'body_site', 'antibiotics_current_use',
       'study_condition', 'disease', 'age_category', 'gender', 'country',
       'non_westernized', 'sequencing_platform', 'DNA_extraction_kit', 'PMID',
       'number_reads', 'number_bases', 'minimum_read_length',
       'median_read_length', 'NCBI_accession', 'curator', 'BMI', 'location',
       'treatment', 'RECIST', 'ORR', 'subcohort', 'previous_therapy',
       'performance_status', 'toxicity_above_zero', 'PFS12'],
      dtype='object')

In [28]:
# Get summary statistics 
# Only for numerical columns
data.describe()

,PMID,number_reads,number_bases,minimum_read_length,median_read_length,BMI,performance_status
count,165.0,1.650000e+02,1.650000e+02,165.000000,165.000000,155.000000,159.000000
mean,35228751.0,2.759673e+07,3.983028e+09,36.696970,150.606061,27.996063,0.522013
std,0.0,2.001648e+07,2.854370e+09,8.086743,4.066066,4.963242,0.692057
min,35228751.0,4.411604e+06,6.629735e+08,35.000000,99.000000,18.778345,0.000000
25%,35228751.0,1.280601e+07,1.886386e+09,35.000000,151.000000,24.639066,0.000000
50%,35228751.0,2.153196e+07,3.162410e+09,35.000000,151.000000,27.764650,0.000000
75%,35228751.0,3.513384e+07,5.112172e+09,35.000000,151.000000,31.057099,1.000000
max,35228751.0,1.094122e+08,1.569445e+10,75.000000,151.000000,47.658124,3.000000

In [36]:
data['gender'].unique()

array(['male', 'female'], dtype=object)

In [37]:
data['gender'].value_counts()

male      100
female     65
Name: gender, dtype: int64

In [38]:
data['gender'].value_counts(normalize=True)

male      0.606061
female    0.393939
Name: gender, dtype: float64

In [40]:
# Calculate what % of subjects belonged to each of the subcohorts (Hint, there is a column 'subcohort')

### Indexing, slicing, and subsetting 
- We use square brackets [] to select a subset of a Python object. For example, we can select all data from a column named `country` from the surveys_df DataFrame by name. There are two ways to do this:

In [98]:
data['country']

BCN-01_1     ESP
BCN-02_1     ESP
BCN-03_1     ESP
BCN-04_1     ESP
BCN-05_1     ESP
            ...
PRIMM0597    GBR
PRIMM0601    GBR
PRIMM0602    GBR
PRIMM0610    GBR
PRIMM0611    GBR
Name: country, Length: 165, dtype: object

In [99]:
data.country

BCN-01_1     ESP
BCN-02_1     ESP
BCN-03_1     ESP
BCN-04_1     ESP
BCN-05_1     ESP
            ...
PRIMM0597    GBR
PRIMM0601    GBR
PRIMM0602    GBR
PRIMM0610    GBR
PRIMM0611    GBR
Name: country, Length: 165, dtype: object

In [107]:
# You can select more than one column
columns_to_show = ['subject_id',  'country', 'gender', 'age_category',  'BMI', 'PFS12']
data = data[columns_to_show]

- Slicing using the [ ] operator selects a set of rows and/or columns from a DataFrame. To slice out a set of rows, you use the following syntax: `data[start:stop]`. When slicing in pandas the start bound is included in the output. The stop bound is one step BEYOND the row you want to select. So if you want to select rows 0, 1 and 2 your code would look like this:

In [109]:
data[0:3]

         subject_id country  gender age_category        BMI PFS12
BCN-01_1   BCN-01_1     ESP    male        adult  28.713211   yes
BCN-02_1   BCN-02_1     ESP  female        adult  27.354571    no
BCN-03_1   BCN-03_1     ESP  female       senior  22.060354   yes

In [114]:
data[-1:]

          subject_id country  gender age_category        BMI PFS12
PRIMM0611  PRIMM0611     GBR  female        adult  27.161407    no

- We can select specific ranges of our data in both the row and column directions using either label or integer-based indexing.

- `loc` is primarily label based indexing. Integers may be used but they are interpreted as a label.
- `iloc` is primarily integer based indexing
- To select a subset of rows and columns from our DataFrame, we can use the iloc method. 
- For example, we can select month, day and year (columns 2, 3 and 4 if we start counting at 1), like this:

In [116]:
data.iloc[0:2, 0:2]

         subject_id country
BCN-01_1   BCN-01_1     ESP
BCN-02_1   BCN-02_1     ESP

In [118]:
data.loc[['BCN-01_1', 'BCN-02_1'], ['subject_id', 'country']]

         subject_id country
BCN-01_1   BCN-01_1     ESP
BCN-02_1   BCN-02_1     ESP

In [115]:
data.head()

         subject_id country  gender age_category        BMI PFS12
BCN-01_1   BCN-01_1     ESP    male        adult  28.713211   yes
BCN-02_1   BCN-02_1     ESP  female        adult  27.354571    no
BCN-03_1   BCN-03_1     ESP  female       senior  22.060354   yes
BCN-04_1   BCN-04_1     ESP    male        adult  30.350330    no
BCN-05_1   BCN-05_1     ESP    male       senior  36.079477   yes

### Subsetting Data using Criteria

We can use the syntax below when querying data by criteria from a DataFrame. Experiment with selecting various subsets of the “surveys” data.

Equals: `==` 

Not equals: `!=`

Greater than, less than: `>` or `<`

Greater than or equal to `>=`

Less than or equal to `<=`

In [121]:
# Look at all the entries from Spain
data[data.country == 'ESP']

         subject_id country  gender age_category        BMI PFS12
BCN-01_1   BCN-01_1     ESP    male        adult  28.713211   yes
BCN-02_1   BCN-02_1     ESP  female        adult  27.354571    no
BCN-03_1   BCN-03_1     ESP  female       senior  22.060354   yes
BCN-04_1   BCN-04_1     ESP    male        adult  30.350330    no
BCN-05_1   BCN-05_1     ESP    male       senior  36.079477   yes
BCN-06_1   BCN-06_1     ESP    male        adult  31.377989   yes
BCN-07_1   BCN-07_1     ESP    male       senior  26.171875    no
BCN-08_1   BCN-08_1     ESP    male       senior        NaN    no
BCN-09_1   BCN-09_1     ESP  female        adult  22.851562    no
BCN-10_1   BCN-10_1     ESP  female        adult  20.956608    no
BCN-11_1   BCN-11_1     ESP  female       senior  28.460364    no
BCN-12_1   BCN-12_1     ESP  female       senior  24.161712   NaN

In [124]:
# Look at all the entries not from Spain
data[data.country != 'ESP']

          subject_id country  gender age_category        BMI PFS12
PRIMM0001  PRIMM0001     GBR  female        adult  25.924200    no
PRIMM0002  PRIMM0002     GBR    male       senior  27.777778    no
PRIMM0003  PRIMM0003     GBR    male       senior  29.521118   yes
PRIMM0004  PRIMM0004     GBR    male        adult  31.834953    no
PRIMM0005  PRIMM0005     GBR  female        adult  20.724325   yes
...              ...     ...     ...          ...        ...   ...
PRIMM0597  PRIMM0597     GBR    male       senior  27.764650    no
PRIMM0601  PRIMM0601     GBR    male       senior  29.115422    no
PRIMM0602  PRIMM0602     GBR    male        adult  24.891179    no
PRIMM0610  PRIMM0610     GBR    male        adult  34.686277   yes
PRIMM0611  PRIMM0611     GBR  female        adult  27.161407    no

[153 rows x 6 columns]

In [125]:
# Look at all the entries not from Spain
data[(data.country == 'ESP') & (data.gender == 'female')]

         subject_id country  gender age_category        BMI PFS12
BCN-02_1   BCN-02_1     ESP  female        adult  27.354571    no
BCN-03_1   BCN-03_1     ESP  female       senior  22.060354   yes
BCN-09_1   BCN-09_1     ESP  female        adult  22.851562    no
BCN-10_1   BCN-10_1     ESP  female        adult  20.956608    no
BCN-11_1   BCN-11_1     ESP  female       senior  28.460364    no
BCN-12_1   BCN-12_1     ESP  female       senior  24.161712   NaN

In [133]:
data[(data.BMI < 26) & (data.BMI > 25)]

          subject_id country  gender age_category        BMI PFS12
PRIMM0001  PRIMM0001     GBR  female        adult  25.924200    no
PRIMM0013  PRIMM0013     GBR  female       senior  25.743945   yes
PRIMM0129  PRIMM0129     GBR  female       senior  25.846483   yes
PRIMM0278  PRIMM0278     GBR    male        adult  25.057360   yes
PRIMM0287  PRIMM0287     NLD    male       senior  25.661152   yes
PRIMM0404  PRIMM0404     NLD    male        adult  25.451114    no
PRIMM0411  PRIMM0411     NLD  female        adult  25.990903   yes
PRIMM0417  PRIMM0417     NLD    male       senior  25.469388    no
PRIMM0427  PRIMM0427     NLD    male       senior  25.436467   yes

In [132]:
data[(data.BMI.between(25, 26))]

          subject_id country  gender age_category        BMI PFS12
PRIMM0001  PRIMM0001     GBR  female        adult  25.924200    no
PRIMM0013  PRIMM0013     GBR  female       senior  25.743945   yes
PRIMM0129  PRIMM0129     GBR  female       senior  25.846483   yes
PRIMM0278  PRIMM0278     GBR    male        adult  25.057360   yes
PRIMM0287  PRIMM0287     NLD    male       senior  25.661152   yes
PRIMM0404  PRIMM0404     NLD    male        adult  25.451114    no
PRIMM0411  PRIMM0411     NLD  female        adult  25.990903   yes
PRIMM0417  PRIMM0417     NLD    male       senior  25.469388    no
PRIMM0427  PRIMM0427     NLD    male       senior  25.436467   yes
PRIMM0544  PRIMM0544     GBR    male       senior  25.000000    no

In [138]:
data[data.subject_id.str.contains('BCN')]

         subject_id country  gender age_category        BMI PFS12
BCN-01_1   BCN-01_1     ESP    male        adult  28.713211   yes
BCN-02_1   BCN-02_1     ESP  female        adult  27.354571    no
BCN-03_1   BCN-03_1     ESP  female       senior  22.060354   yes
BCN-04_1   BCN-04_1     ESP    male        adult  30.350330    no
BCN-05_1   BCN-05_1     ESP    male       senior  36.079477   yes
BCN-06_1   BCN-06_1     ESP    male        adult  31.377989   yes
BCN-07_1   BCN-07_1     ESP    male       senior  26.171875    no
BCN-08_1   BCN-08_1     ESP    male       senior        NaN    no
BCN-09_1   BCN-09_1     ESP  female        adult  22.851562    no
BCN-10_1   BCN-10_1     ESP  female        adult  20.956608    no
BCN-11_1   BCN-11_1     ESP  female       senior  28.460364    no
BCN-12_1   BCN-12_1     ESP  female       senior  24.161712   NaN

In [141]:
data[data['country'].isin(['GBR', 'ESP'])]

          subject_id country  gender age_category        BMI PFS12
BCN-01_1    BCN-01_1     ESP    male        adult  28.713211   yes
BCN-02_1    BCN-02_1     ESP  female        adult  27.354571    no
BCN-03_1    BCN-03_1     ESP  female       senior  22.060354   yes
BCN-04_1    BCN-04_1     ESP    male        adult  30.350330    no
BCN-05_1    BCN-05_1     ESP    male       senior  36.079477   yes
...              ...     ...     ...          ...        ...   ...
PRIMM0597  PRIMM0597     GBR    male       senior  27.764650    no
PRIMM0601  PRIMM0601     GBR    male       senior  29.115422    no
PRIMM0602  PRIMM0602     GBR    male        adult  24.891179    no
PRIMM0610  PRIMM0610     GBR    male        adult  34.686277   yes
PRIMM0611  PRIMM0611     GBR  female        adult  27.161407    no

[110 rows x 6 columns]

### Calculating Statistics From Data In A Pandas

In [69]:
# You can calculate any summary statistics on the numberic columns with min(), max(), mean(), std(), count(), etc.
data['BMI'].min()

18.77834467

In [70]:
data['BMI'].median()

27.76465028

- But if we want to summarize by one or more variables, for example sex, we can use Pandas’ `.groupby` method. Once we’ve created a groupby DataFrame, we can quickly calculate summary statistics by a group of our choice.

In [71]:
grouped_data = data.groupby('gender')

In [75]:
grouped_data.median(numeric_only=True)

,PMID,number_reads,number_bases,minimum_read_length,median_read_length,BMI,performance_status
gender,,,,,,,
female,35228751.0,21024593.0,3.136222e+09,35.0,151.0,26.619343,0.0
male,35228751.0,22224886.5,3.194212e+09,35.0,151.0,28.169937,0.0

In [88]:
grouped_data['subcohort'].value_counts()

gender  subcohort
female  PRIMM-NL     24
        PRIMM-UK     19
        Leeds        16
        Barcelona     6
male    PRIMM-UK     36
        PRIMM-NL     31
        Leeds        27
        Barcelona     6
Name: subcohort, dtype: int64

In [85]:
data.groupby(['subcohort', 'gender']).subject_id.count()

subcohort  gender
Barcelona  female     6
           male       6
Leeds      female    16
           male      27
PRIMM-NL   female    24
           male      31
PRIMM-UK   female    19
           male      36
Name: subject_id, dtype: int64

In [84]:
data.subcohort.value_counts()

PRIMM-UK     55
PRIMM-NL     55
Leeds        43
Barcelona    12
Name: subcohort, dtype: int64

In [92]:
data.columns

Index(['study_name', 'subject_id', 'body_site', 'antibiotics_current_use',
       'study_condition', 'disease', 'age_category', 'gender', 'country',
       'non_westernized', 'sequencing_platform', 'DNA_extraction_kit', 'PMID',
       'number_reads', 'number_bases', 'minimum_read_length',
       'median_read_length', 'NCBI_accession', 'curator', 'BMI', 'location',
       'treatment', 'RECIST', 'ORR', 'subcohort', 'previous_therapy',
       'performance_status', 'toxicity_above_zero', 'PFS12'],
      dtype='object')

In [97]:
data.groupby(['country', 'gender']).ORR.value_counts(normalize=True)

country  gender  ORR
ESP      female  no     0.500000
                 yes    0.500000
         male    no     0.500000
                 yes    0.500000
GBR      female  yes    0.542857
                 no     0.457143
         male    yes    0.571429
                 no     0.428571
NLD      female  yes    0.791667
                 no     0.208333
         male    no     0.548387
                 yes    0.451613
Name: ORR, dtype: float64

### Missing values

In [144]:
data[data.PFS12.isnull()]

          subject_id country  gender age_category        BMI PFS12
BCN-12_1    BCN-12_1     ESP  female       senior  24.161712   NaN
PRIMM0589  PRIMM0589     GBR  female        adult  19.195303   NaN

In [145]:
# Drop all observations with missing values
data.dropna()

          subject_id country  gender age_category        BMI PFS12
BCN-01_1    BCN-01_1     ESP    male        adult  28.713211   yes
BCN-02_1    BCN-02_1     ESP  female        adult  27.354571    no
BCN-03_1    BCN-03_1     ESP  female       senior  22.060354   yes
BCN-04_1    BCN-04_1     ESP    male        adult  30.350330    no
BCN-05_1    BCN-05_1     ESP    male       senior  36.079477   yes
...              ...     ...     ...          ...        ...   ...
PRIMM0597  PRIMM0597     GBR    male       senior  27.764650    no
PRIMM0601  PRIMM0601     GBR    male       senior  29.115422    no
PRIMM0602  PRIMM0602     GBR    male        adult  24.891179    no
PRIMM0610  PRIMM0610     GBR    male        adult  34.686277   yes
PRIMM0611  PRIMM0611     GBR  female        adult  27.161407    no

[153 rows x 6 columns]

In [165]:
rel_ab = pd.read_csv("data/2022-04-13.LeeKA_2022.relative_abundance.SAMPLE.csv", index_col=0)

In [166]:
rel_ab

,Anaerostipes_hadrus,Asaccharobacter_celatus,Coprococcus_comes,Fusicatenibacter_saccharivorans,Bacteroides_vulgatus,Methanobrevibacter_smithii,Streptococcus_salivarius,Dorea_longicatena,Bifidobacterium_bifidum,Eubacterium_rectale,Prevotella_copri,Bacteroides_uniformis,Alistipes_putredinis,Akkermansia_muciniphila,Faecalibacterium_prausnitzii,Ruminococcus_bromii,Escherichia_coli,Bifidobacterium_longum,Bifidobacterium_adolescentis,Collinsella_aerofaciens
BCN-01_1,1.10764,0.00000,0.39131,0.80794,6.92922,0.00000,0.00000,0.07567,0.00000,0.06790,0.00000,21.67335,0.01142,0.00000,4.47034,0.87113,0.03334,0.00000,0.00000,0.05024
BCN-02_1,0.07957,0.02697,0.15881,0.42029,8.39282,0.01656,0.00405,0.65825,0.02668,0.11673,0.00000,16.93711,7.04382,0.13485,1.66004,0.07198,0.00000,0.01587,0.16376,0.19042
BCN-03_1,0.06803,0.00000,0.05290,0.04999,0.00000,0.00000,0.22965,0.03822,0.03016,0.17591,67.77848,1.81256,6.10781,0.16416,1.97072,0.00000,0.02288,0.00340,0.00095,0.08099
BCN-04_1,0.17733,0.00000,0.39534,0.40406,8.84652,0.00000,0.00000,0.82328,0.00000,3.82375,0.00000,6.37426,12.07799,0.00000,1.38323,1.71353,0.00000,0.01074,0.09001,1.10278
BCN-05_1,0.00000,0.38326,0.00000,0.05267,7.54186,0.61649,0.41095,0.09959,0.19483,0.24323,0.00000,30.92338,10.58879,0.00000,0.04580,15.63297,5.05773,1.79973,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PRIMM0597,0.22115,0.00277,1.03476,0.00873,0.03489,30.94745,0.00000,0.62685,1.33145,0.00364,0.00000,0.26090,0.25945,16.65341,0.12416,7.14894,0.05581,2.70823,17.73016,6.64331
PRIMM0601,0.95506,2.53953,0.64197,5.23906,1.33929,0.18057,0.00000,0.23401,0.00000,1.64856,0.00000,0.35553,10.97529,3.49995,8.81142,0.72850,0.00321,4.60200,11.19295,14.16342
PRIMM0602,1.02018,0.00000,0.00000,0.00000,0.75382,0.00000,4.81872,0.00000,0.00000,0.00000,21.05900,0.87399,8.55740,0.00000,4.09780,0.00000,0.00000,0.00021,0.00000,2.71609
PRIMM0610,0.17088,0.09276,0.52401,0.26428,6.45565,0.00000,0.06262,0.66418,6.40206,2.59963,0.00000,8.48561,14.95995,0.00000,1.40408,0.00000,0.16784,4.93301,6.77746,3.73716
PRIMM0611,0.73125,0.46761,1.10538,3.78094,11.96714,0.00000,1.09892,0.92254,0.00000,6.69144,0.00000,12.38340,5.04658,0.00000,8.04238,6.87034,0.00000,0.00000,0.00000,2.84910

In [168]:
df = data.merge(rel_ab, left_index=True, right_index=True)

In [169]:
df.head()

,subject_id,country,gender,age_category,BMI,PFS12,Anaerostipes_hadrus,Asaccharobacter_celatus,Coprococcus_comes,Fusicatenibacter_saccharivorans,...,Prevotella_copri,Bacteroides_uniformis,Alistipes_putredinis,Akkermansia_muciniphila,Faecalibacterium_prausnitzii,Ruminococcus_bromii,Escherichia_coli,Bifidobacterium_longum,Bifidobacterium_adolescentis,Collinsella_aerofaciens
BCN-01_1,BCN-01_1,ESP,male,adult,28.713211,yes,1.10764,0.00000,0.39131,0.80794,...,0.00000,21.67335,0.01142,0.00000,4.47034,0.87113,0.03334,0.00000,0.00000,0.05024
BCN-02_1,BCN-02_1,ESP,female,adult,27.354571,no,0.07957,0.02697,0.15881,0.42029,...,0.00000,16.93711,7.04382,0.13485,1.66004,0.07198,0.00000,0.01587,0.16376,0.19042
BCN-03_1,BCN-03_1,ESP,female,senior,22.060354,yes,0.06803,0.00000,0.05290,0.04999,...,67.77848,1.81256,6.10781,0.16416,1.97072,0.00000,0.02288,0.00340,0.00095,0.08099
BCN-04_1,BCN-04_1,ESP,male,adult,30.350330,no,0.17733,0.00000,0.39534,0.40406,...,0.00000,6.37426,12.07799,0.00000,1.38323,1.71353,0.00000,0.01074,0.09001,1.10278
BCN-05_1,BCN-05_1,ESP,male,senior,36.079477,yes,0.00000,0.38326,0.00000,0.05267,...,0.00000,30.92338,10.58879,0.00000,0.04580,15.63297,5.05773,1.79973,0.00000,0.00000

In [173]:
df.groupby('gender').mean(numeric_only=True).T

gender                              female       male
BMI                              27.343512  28.442919
Anaerostipes_hadrus               1.440507   0.949143
Asaccharobacter_celatus           1.282865   1.160262
Coprococcus_comes                 1.034743   1.394531
Fusicatenibacter_saccharivorans   1.812966   1.174864
Bacteroides_vulgatus              1.045323   1.676070
Methanobrevibacter_smithii        0.911697   1.909317
Streptococcus_salivarius          1.889378   1.465998
Dorea_longicatena                 1.926705   1.601548
Bifidobacterium_bifidum           2.634217   1.348373
Eubacterium_rectale               2.225288   1.723484
Prevotella_copri                  1.885954   2.105218
Bacteroides_uniformis             3.274220   2.457283
Alistipes_putredinis              3.058663   2.872133
Akkermansia_muciniphila           2.590647   3.441601
Faecalibacterium_prausnitzii      2.883940   3.505347
Ruminococcus_bromii               2.964780   4.292764
Escherichia_coli                  2.469753   5.997885
Bifidobacterium_longum            5.722079   4.701914
Bifidobacterium_adolescentis      5.450421   7.055093
Collinsella_aerofaciens          11.991692  10.238412

In [174]:
df.to_csv("data/ploting_ws.csv")